body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar-brand img {
    height: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #007acc;
}

.navbar {
    padding: 1rem 0;
    transition: background-color 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    margin-right: 1rem;
    font-size: 24px;
    font-weight: 500;
    color: #555;
}

.nav-link:hover {
    color: #007acc;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero-section {
    background-image: url('ressources/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 50%;
    background: rgba(0, 123, 255, 1);
}

.hero-section .container {
    position: relative;
    z-index: 1;
}

.hero-section h1,
.hero-section p {
    animation: fadeInUp 1s ease-in-out;
}

.doctor-introduction {
    padding-top: 150px;
}

.doctor-photo {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: 50% 10%;
    border-radius: 50%;
    border: 5px solid #007acc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.chirurgie-orale-section {
    background-color: #f9f9f9;
    padding: 60px 0;
}

.chirurgie-orale-section h2 {
    color: #007acc;
}

.chirurgie-orale-section h3 {
    margin-top: 30px;
    color: #005fa3;
}

.chirurgie-orale-section p {
    font-size: 1.1rem;
    color: #333;
}

.chirurgie-orale-section ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.chirurgie-orale-section ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #333;
}

.maxillo-faciale-section {
    background-color: #f9f9f9;
    padding: 60px 0;
}

.maxillo-faciale-section h2 {
    color: #007acc;
}

.maxillo-faciale-section p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
}

.maxillo-faciale-section ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.maxillo-faciale-section ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #333;
}

.contact-section .row {
    justify-content: center;
}

.contact-section h5 {
    margin-top: 20px;
}

.expertise-section {
    margin-top: 100px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.list-group-item {
    font-size: 1rem;
    font-weight: 500;
    color: #007acc;
    border: none;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
    background-color: #e6f2ff;
    color: #005fa3;
}

/* Icon Circle */
.icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon-background {
    background-color: #007acc;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #007acc;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #007acc;
}
